@model DataLogicLayer.ViewModels.AddEditModifierViewModel
<div class="modal-header border-0">
    <h5 class="modal-title fw-bolder txt-color">
         @(Model.ModifierItemId == 0 ? "Add New " : "Edit ") Modifier
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form id="modifierItemForm" asp-action="SaveModifier" asp-controller="Menu">
    <input type="hidden" asp-for="@Model.ModifierItemId">
    <input type="hidden" asp-for="@Model.OldModifierGroupId">
    <div class="modal-body text-center">
        <!-- row 1-->
        <div class="row mb-3">
            <div class="form-floating mb-3 col-md-6">
                <div class="dropdown">
                    <button class="btn btn-light form-control text-start dropdown-toggle" type="button" id="modifierDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Modifier Group(s)
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="modifierDropdown">
                        @foreach (var modifierGroup in Model.ModifierGroupList)
                        {
                            <li>
                                <label class="dropdown-item">
                                    <input type="checkbox" class="modifier-checkbox" value="@modifierGroup.ModifierId"> @modifierGroup.Name
                                </label>
                            </li>
                        }
                    </ul>
                </div>
                <input type="text" asp-for="@Model.SelectedModifierGroups" id="selectedModifierGroups">
                @* <span class="text-danger" asp-validation-for="ModifierGroupId"></span> *@
            </div>

            <div class="form-floating col-md-6">
                <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Enter name" required>
                <label class="form-label txt-color">Name*</label>
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>

        <!-- Row 2-->
        <div class="row mb-3">

            <div class="form-floating col-md-4 mb-3">
                <input asp-for="@Model.Rate" type="number" class="form-control" required>
                <label class="form-label">Rate*</label>
                <span class="text-danger" asp-validation-for="Rate"></span>
            </div>

            <div class="form-floating col-md-4 mb-3">
                <input asp-for="@Model.Quantity" type="number" class="form-control">
                <label class="form-label">Quantity*</label>
                <span class="text-danger" asp-validation-for="Quantity"></span>
            </div>

            <!-- Unit Selection -->
            <div class="form-floating col-md-4 mb-3">
                <select asp-for="@Model.UnitId" class="form-select">
                    <option value="-2">Select a Unit</option>
                    @foreach (var unit in Model.UnitList)
                    {
                        <option value="@unit.UnitId">@unit.Name</option>
                    }
                </select>
                <label class="form-label">Unit*</label>
                <span class="text-danger" asp-validation-for="UnitId"></span>

            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-3">
                <textarea asp-for="@Model.Description" class="form-control" rows="4" placeholder="Description"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer border-0 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary addEditModifierBtn" id="confirmModifierBtn">Save</button>
        <button type="button" class="btn cancle_btn" data-bs-dismiss="modal">No</button>
    </div>
</form>

@* <script>
    $(document).ready(function () {
        let selectedModifiers = [];

        $(".modifier-checkbox").change(function () {
            let value = $(this).data("modifiergroupid");
            if ($(this).is(":checked")) {
                selectedModifiers.push(value);
            } else {
                selectedModifiers = selectedModifiers.pop(item => item !== value);
            }

            $("#selectedModifierGroups").val(selectedModifiers.join(","));


            if (selectedModifiers.length > 0) {
                $("#modifierDropdown").text(selectedModifiers.length + " Selected");
            } else {
                $("#modifierDropdown").text("Select Modifier Group(s)");
            }
        });


        $("#modifierItemForm").submit(function () {
            $("#selectedModifierGroups").val(selectedModifiers.join(","));
        });


        let preselectedValues = $("#selectedModifierGroups").val();
        if (preselectedValues) {
            let preselectedArray = preselectedValues.split(",");
            console.log(preselectedArray);
            $(".modifier-checkbox").each(function () {
                if (preselectedArray.includes($(this).data("modifiergroupid"))) {
                    $(this).prop("checked", true);
                    console.log($(this).data("modifiergroupid"));
                    selectedModifiers.push($(this).data("modifiergroupid"));
                }
            });

            console.log(selectedModifiers);
            if (selectedModifiers.length > 0) {
                $("#modifierDropdown").text(selectedModifiers.length + " Selected");
            }
        }
    });

</script> *@

<script>
    $(document).ready(function () {
        let selectedModifiers = [];

        $(".modifier-checkbox").change(function () {
            let value = $(this).val();
            if ($(this).is(":checked")) {
                selectedModifiers.push(value);
            } else {
                selectedModifiers = selectedModifiers.filter(item => item !== value);
            }

            $("#selectedModifierGroups").val(selectedModifiers.join(","));

            if (selectedModifiers.length > 0) {
                $("#modifierDropdown").text(selectedModifiers.length + " Selected");
            } else {
                $("#modifierDropdown").text("Select Modifier Group(s)");
            }
        });

        $("#modifierItemForm").submit(function () {
            $("#selectedModifierGroups").val(selectedModifiers.join(","));
        });

        let preselectedValues = $("#selectedModifierGroups").val();
        if (preselectedValues) {
            let preselectedArray = preselectedValues.split(",");
            $(".modifier-checkbox").each(function () {
                if (preselectedArray.includes($(this).val())) {
                    $(this).prop("checked", true);
                    selectedModifiers.push($(this).val());
                }
            });

            // Update button text
            if (selectedModifiers.length > 0) {
                $("#modifierDropdown").text(selectedModifiers.length + " Selected");
            }
        }
    });

</script>