@model IEnumerable<DataLogicLayer.ViewModels.ModifierGroupViewModel>

<div class="container-fluid d-flex flex-column flex-lg-row p-0">
    <div class="fs-5 category_part">
        <!-- Tab Content Part 2 -->
        <div class="d-flex justify-content-between mb-4">
            <h4 class="heading_color fw-bold">Modifier Group </h4>
            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#modifierModal">
                <img src="~/images/icons/plus-square.svg" alt="" width="30px" />
            </button>
        </div>

        <!-- Modifier List Starts -->
        <div class="category_list">
            <ul class="p-0" id="modifier_listUl">
                @foreach (var modifierGroup in Model)
                {
                    <li class="mg-list-items pb-3 d-flex align-items-center justify-content-between">
                        <div>
                            <img src="~/images/icons/grid-3x2.svg" alt="" class="item-grid" />
                            <a data-mgid="@modifierGroup.ModifierId">@modifierGroup.Name</a>
                        </div>
                        <div class="editDeleteBtn d-flex">
                            <button class="btn user_action p-0 me-1" id="editButton" data-mgid="@modifierGroup.ModifierId"
                                data-bs-toggle="modal" data-bs-target="#">
                                <img src="/images/icons/edit-pen.svg" alt="" />
                            </button>
                            <button class="btn user_action user_action_delete deleteCategoryBtn p-0 me-1" id="deleteBtn"
                                data-mgid="@modifierGroup.ModifierId" data-bs-toggle="modal" data-bs-target="#">
                                <img src="/images/icons/delete-trash-icon.svg" alt="" />
                            </button>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

    <!-- Modifiers Section -->
    <div class="w-100 table-responsive">
        <p class="heading_color fs-4 fw-bold ms-2">Modifiers</p>
        <div class="items_header_buttons d-flex justify-content-end me-3">
            <div class="d-flex flex-row">
                <form class="d-flex position-relative" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" id="modifierSearch"
                        aria-label="Search" />
                    <label for="search" class="search_icon d-none d-md-block"><img src="~/images/icons/search.svg"
                            alt="" /></label>
                </form>
                <button class="btn border border-black me-2">
                    <img src="~/images/icons/delete-trash-icon.svg" alt="" />
                </button>
            </div>
            <button type="button" class="btn add_user_btn">
                <a href="" class="text-white text-decoration-none">New Modifier</a>
            </button>
        </div>


        <!-- Table For Modifier Items Data -->
        <div id="modifierTableContent">
            
        </div>

    </div>
</div>

<!-- Add Modifier Group Modal -->
<div class="modal fade" tabindex="-1" id="modifierModal" aria-labelleby="modal-title">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title fw-bolder">Add Modifier Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column align-items-center">
        <form class="w-100">
          <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Name">
          </div>
          <div class="mb-3">
            <textarea type="text" class="form-control" id="exampleInputPassword1" placeholder="Description"></textarea>
          </div>
        </form>
      </div>
      <div>
        <button class="btn text-primary existingModifierBtn" data-bs-target="#existingModifierModal" data-bs-toggle="modal">+ Add Existing Modifiers</Address></button>
      </div>
      <div class="modal-footer border-0 d-flex flex-row justify-content-end">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn cancle_btn" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Add Existing  Modifier Group Modal -->
<div class="modal fade" tabindex="-1" id="existingModifierModal" aria-labelleby="modal-title">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <h5 class="modal-title fw-bolder">Select Existing Modifier</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column">
        <div class="w-50">
            <form class="d-flex position-relative" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" id="existingModifierSearch"
                  aria-label="Search" />
              <label for="search" class="search_icon d-none d-md-block"><img src="~/images/icons/search.svg"
                      alt="" /></label>
          </form>
        </div>

        <div id="existingModifierModalContent">

        </div>
        
      </div>
      <div class="modal-footer border-0 d-flex flex-row justify-content-end">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn cancle_btn" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>


<script>
  function LoadModifierItem(currentPage){
    let pageSize = $('#modifierItemPageSize').val();
    let searchQuery = $('#existingModifierSearch').val();
    if (pageSize == 0 || pageSize == null) pageSize = 3;
    if (searchQuery == null) searchQuery = "";
    $.ajax({
      url: '@Url.Action("GetAllModifierItems", "Menu")',
      type: "GET",
      data: { pageNo: currentPage, pageSize: pageSize, search: searchQuery },
      dataType: "html",
      success: function (data) {
        $("#existingModifierModalContent").html(data);
      },
      error: function () {
        console.log("No Projects Found");
        $("#existingModifierModalContent").html('No User Fetched');
      }
    })
  }

  $(document).on('click', '.existingModifierBtn',function(){
    LoadModifierItem(1);
  })

  let debounceTimer;
  $(document).on("input", "#existingModifierSearch", function () {
    let searchValue = $(this).val().trim();

    if (searchValue.length > 0) {
        clearTimeout(debounceTimer);
        debounceTimer = setTimeout(function () {
            LoadModifierItem(1);
        }, 300);
    }
});

</script>
