@model DataLogicLayer.ViewModels.MenuViewModel
@{
  ViewData["Title"] = "Menu Page";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body_content">
  <!-- Header Menu -->
  <div class="d-flex flex-row justify-content-between user_list_header">
    <!-- Menu Header -->
    <div class="user_header fs-2 fs-lg-1">
      <span>Menu</span>
    </div>
  </div>

  <!-- Tabs for Items and Modifiers -->
  <ul class="nav nav-tabs bg-white mb-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active ms-3 fs-5 tab_btn" id="home-tab" data-bs-toggle="tab"
        data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
        <img src="~/images/icons/list-check.svg" alt="" class="pe-2" width="30px" />Items
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link ms-3 fs-5 tab_btn" id="profile-tab" data-bs-toggle="tab"
        data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane"
        aria-selected="false">
        <img src="~/images/icons/ui-checks-grid.svg" alt="" class="pe-2" width="25px" />Modifiers
      </button>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content bg-white" id="pills-tabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <div class="container-fluid d-flex flex-column flex-lg-row">
        <div class="fs-5 category_part">
          <!-- Tab Content Part 1 -->
          <div class="d-flex justify-content-between mb-4">
            <h3 class="heading_color fw-bold">Category</h3>
            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#categoryModal">
              <img src="~/images/icons/plus-square.svg" alt="" width="30px" />
            </button>
          </div>

          <!-- Category List Starts -->
          <div class="category_list">
            <ul class="p-0">
              @foreach (var category in Model.CategoryList)
              {
                <li class="category_active list-items pb-3 d-flex align-items-center justify-content-between">
                  <div>
                    <img src="~/images/icons/grid-3x2.svg" alt="" class="item-grid" />
                    <span>@category.CategoryName</span>
                  </div>
                  <div class="editDeleteBtn d-flex">
                    <a class="btn user_action p-0 me-1 editCategoryBtn" id="editButton" data-id="@category.Id"
                      data-bs-toggle="modal" data-bs-target="#categoryModal">
                      <img src="/images/icons/edit-pen.svg" alt="" />
                    </a>
                    <a class="btn user_action user_action_delete deleteUserBtn p-0 me-1" id="deleteBtn"
                      data-bs-toggle="modal" data-bs-target="#myModal">
                      <img src="/images/icons/delete-trash-icon.svg" alt="" />
                    </a>
                  </div>
                </li>
              }
            </ul>
          </div>
        </div>

        <!-- Items Section -->
        <div class="w-100 table-responsive">
          <p class="heading_color fs-4 fw-bold ms-2">Items</p>
          <div class="items_header_buttons d-flex justify-content-end me-3">
            <div class="d-flex flex-row">
              <form class="d-flex position-relative" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" id="search" aria-label="Search" />
                <label for="search" class="search_icon d-none d-md-block"><img src="~/images/icons/search.svg"
                    alt="" /></label>
              </form>
              <button class="btn border border-black me-2">
                <img src="~/images/icons/delete-trash-icon.svg" alt="" />
              </button>
            </div>
            <button type="button" class="btn add_user_btn">
              <a href="" class="text-white text-decoration-none">New Items</a>
            </button>
          </div>


          <!-- Table For Items Data -->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th id="itemName" scope="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="selectAll" onclick="toggleCheckBoxes(this)" />
                      <label class="form-check-label" for="selectAll">Name</label>
                    </div>
                  </th>
                  <th scope="col">Item Type</th>
                  <th scope="col">Rate</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Available</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
              <tbody>
                <tr>
                  <td class="user_profile">
                    <div class="d-flex align-items-center gap-2">
                      <input type="checkbox" class="form-check-input" />
                      <img src="~/images/dining-menu.png" alt="" class="rounded-circle" />
                      <label class="form-check-label">Panjabi Tadka Sandwich</label>
                    </div>
                  </td>
                  <td>
                    <img src="~/images/icons/non-veg-icon.svg" alt="" width="20px" />
                  </td>
                  <td>200</td>
                  <td>1</td>
                  <td>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" />
                    </div>
                  </td>
                  <td>
                    <a class="btn user_action" href="">
                      <img src="~/images/icons/edit-pen.svg" alt="" />
                    </a>
                    <button class="btn user_action" type="button">
                      <img src="~/images/icons/delete-trash-icon.svg" alt="" />
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="user_profile">
                    <div class="d-flex align-items-center gap-2">
                      <input type="checkbox" class="form-check-input" />
                      <img src="~/images/dining-menu.png" alt="" class="rounded-circle" />
                      <label class="form-check-label">Chicken Sandwich</label>
                    </div>
                  </td>
                  <td>
                    <img src="~/images/icons/non-veg-icon.svg" alt="" width="20px" />
                  </td>
                  <td>200</td>
                  <td>1</td>
                  <td>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" />
                    </div>
                  </td>
                  <td>
                    <a class="btn user_action" href="">
                      <img src="~/images/icons/edit-pen.svg" alt="" />
                    </a>
                    <button class="btn user_action" type="button">
                      <img src="~/images/icons/delete-trash-icon.svg" alt="" />
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="user_profile">
                    <div class="d-flex align-items-center gap-2">
                      <input type="checkbox" class="form-check-input" />
                      <img src="~/images/dining-menu.png" alt="" class="rounded-circle" />
                      <label class="form-check-label">Cheese Sandwich</label>
                    </div>
                  </td>
                  <td>
                    <img src="~/images/icons/veg-icon.svg" alt="" width="20px" />
                  </td>
                  <td>150</td>
                  <td>1</td>
                  <td>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" />
                    </div>
                  </td>
                  <td>
                    <a class="btn user_action" href="">
                      <img src="~/images/icons/edit-pen.svg" alt="" />
                    </a>
                    <button class="btn user_action" type="button">
                      <img src="~/images/icons/delete-trash-icon.svg" alt="" />
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="user_profile">
                    <div class="d-flex align-items-center gap-2">
                      <input type="checkbox" class="form-check-input" />
                      <img src="~/images/dining-menu.png" alt="" class="rounded-circle" />
                      <label class="form-check-label">Aloo Sandwich</label>
                    </div>
                  </td>
                  <td>
                    <img src="~/images/icons/veg-icon.svg" alt="" width="20px" />
                  </td>
                  <td>120</td>
                  <td>1</td>
                  <td>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" />
                    </div>
                  </td>
                  <td>
                    <a class="btn user_action" href="">
                      <img src="~/images/icons/edit-pen.svg" alt="" />
                    </a>
                    <button class="btn user_action" type="button">
                      <img src="~/images/icons/delete-trash-icon.svg" alt="" />
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="user_profile">
                    <div class="d-flex align-items-center gap-2">
                      <input type="checkbox" class="form-check-input" />
                      <img src="~/images/dining-menu.png" alt="" class="rounded-circle" />
                      <label class="form-check-label">Black Bean Sandwich</label>
                    </div>
                  </td>
                  <td>
                    <img src="~/images/icons/veg-icon.svg" alt="" width="20px" />
                  </td>
                  <td>100</td>
                  <td>1</td>
                  <td>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" />
                    </div>
                  </td>
                  <td>
                    <a class="btn user_action" href="">
                      <img src="~/images/icons/edit-pen.svg" alt="" />
                    </a>
                    <button class="btn user_action" type="button">
                      <img src="~/images/icons/delete-trash-icon.svg" alt="" />
                    </button>
                  </td>
                </tr>
                <!-- More rows here -->
              </tbody>
              </tbody>
            </table>

            <!-- Paggination Frontend Start -->
            <div class="d-flex flex-row align-items-center justify-content-end pagination_container">
              <span>Items per page:</span>

              <!-- Page  Numbers Drop Down -->
              <select class="form-select w-auto" aria-label="Default select example">
                <option selected>5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
              </select>

              <span style="margin-left: 8px;">Showing 1-5 of 11</span>

              <button class="btn border border-black prev_page">
                <img src="~/images/icons/chevron-left.svg" alt="">
              </button>
              <button class="btn border border-black">
                <img src="~/images/icons/chevron-right.svg" alt="">
              </button>
            </div>
            <!-- Pagination Frontend Ends -->
          </div>

        </div>
      </div>

    </div>

    <!-- #region Modifier Tab-->
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <div class="container-fluid d-flex flex-column flex-lg-row">
        <div class="fs-5 category_part">
          <!-- Tab Content Part 2 -->
          <div class="d-flex justify-content-between mb-4">
            <h4 class="heading_color fw-bold">Modifier Group </h4>
            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#modifierModal">
              <img src="~/images/icons/plus-square.svg" alt="" width="30px" />
            </button>
          </div>

          <!-- Modifier List Starts -->
          <div class="category_list">
            <ul class="p-0">
              <li class="category_active pb-3">
                <img src="~/images/icons/grid-3x2.svg" alt="" />
                Veggies
              </li>
              <li class="pb-3">
                <img src="~/images/icons/grid-3x2.svg" alt="" />
                Crust Options
              </li>
              <li class="pb-3">
                <img src="~/images/icons/grid-3x2.svg" alt="" />
                Cheese Options
              </li>
              <li class="pb-3">
                <img src="~/images/icons/grid-3x2.svg" alt="" />
                Sauce Options
              </li>
              <li class="pb-3">
                <img src="~/images/icons/grid-3x2.svg" alt="" />
                Topping Options
              </li>
              <li class="pb-3">
                <img src="~/images/icons/grid-3x2.svg" alt="" />
                Size Options
              </li>
            </ul>
          </div>
        </div>

        <!-- Modifiers Section -->
        <div class="w-100 table-responsive">
          <p class="heading_color fs-4 fw-bold ms-2">Modifiers</p>
          <div class="items_header_buttons d-flex justify-content-end me-3">
            <div class="d-flex flex-row">
              <form class="d-flex position-relative" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" id="search" aria-label="Search" />
                <label for="search" class="search_icon d-none d-md-block"><img src="~/images/icons/search.svg"
                    alt="" /></label>
              </form>
              <button class="btn border border-black me-2">
                <img src="~/images/icons/delete-trash-icon.svg" alt="" />
              </button>
            </div>
            <button type="button" class="btn add_user_btn">
              <a href="" class="text-white text-decoration-none">New Modifier</a>
            </button>
          </div>


          <!-- Table For Modifier Items Data -->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th id="itemName" scope="col">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="selectAll" onclick="toggleCheckBoxes(this)" />
                      <label class="form-check-label" for="selectAll">Name</label>
                    </div>
                  </th>
                  <th scope="col">Unit</th>
                  <th scope="col">Rate</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
              <tbody>
                <tr>
                  <td class="user_profile">
                    <div class="d-flex align-items-center gap-2">
                      <input type="checkbox" class="form-check-input" />
                      <label class="form-check-label">Capsicum</label>
                    </div>
                  </td>
                  <td>
                    pcs
                  </td>
                  <td>30</td>
                  <td>5</td>
                  <td>
                    <a class="btn user_action" href="">
                      <img src="~/images/icons/edit-pen.svg" alt="" />
                    </a>
                    <button class="btn user_action" type="button">
                      <img src="~/images/icons/delete-trash-icon.svg" alt="" />
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="user_profile">
                    <div class="d-flex align-items-center gap-2">
                      <input type="checkbox" class="form-check-input" />
                      <label class="form-check-label">Tomato</label>
                    </div>
                  </td>
                  <td>
                    pcs
                  </td>
                  <td>20</td>
                  <td>5</td>
                  <td>
                    <a class="btn user_action" href="">
                      <img src="~/images/icons/edit-pen.svg" alt="" />
                    </a>
                    <button class="btn user_action" type="button">
                      <img src="~/images/icons/delete-trash-icon.svg" alt="" />
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="user_profile">
                    <div class="d-flex align-items-center gap-2">
                      <input type="checkbox" class="form-check-input" />
                      <label class="form-check-label">Onion</label>
                    </div>
                  </td>
                  <td>
                    pcs
                  </td>
                  <td>20</td>
                  <td>5</td>
                  <td>
                    <a class="btn user_action" href="">
                      <img src="~/images/icons/edit-pen.svg" alt="" />
                    </a>
                    <button class="btn user_action" type="button">
                      <img src="~/images/icons/delete-trash-icon.svg" alt="" />
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="user_profile">
                    <div class="d-flex align-items-center gap-2">
                      <input type="checkbox" class="form-check-input" />
                      <label class="form-check-label">Baby Corn</label>
                    </div>
                  </td>
                  <td>
                    pcs
                  </td>
                  <td>50</td>
                  <td>5</td>
                  <td>
                    <a class="btn user_action" href="">
                      <img src="~/images/icons/edit-pen.svg" alt="" />
                    </a>
                    <button class="btn user_action" type="button">
                      <img src="~/images/icons/delete-trash-icon.svg" alt="" />
                    </button>
                  </td>
                </tr>
                <tr>
                  <td class="user_profile">
                    <div class="d-flex align-items-center gap-2">
                      <input type="checkbox" class="form-check-input" />
                      <label class="form-check-label">Mushroom</label>
                    </div>
                  </td>
                  <td>
                    pcs
                  </td>
                  <td>50</td>
                  <td>5</td>
                  <td>
                    <a class="btn user_action" href="">
                      <img src="~/images/icons/edit-pen.svg" alt="" />
                    </a>
                    <button class="btn user_action" type="button">
                      <img src="~/images/icons/delete-trash-icon.svg" alt="" />
                    </button>
                  </td>
                </tr>
                <!-- More rows here -->
              </tbody>
              </tbody>
            </table>

            <!-- Paggination Frontend Start -->
            <div class="d-flex flex-row align-items-center justify-content-end pagination_container">
              <span>Items per page:</span>

              <!-- Page  Numbers Drop Down -->
              <select class="form-select w-auto" aria-label="Default select example">
                <option selected>5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
              </select>

              <span style="margin-left: 8px;">Showing 1-5 of 11</span>

              <button class="btn border border-black prev_page">
                <img src="~/images/icons/chevron-left.svg" alt="">
              </button>
              <button class="btn border border-black">
                <img src="~/images/icons/chevron-right.svg" alt="">
              </button>
            </div>
            <!-- Pagination Frontend Ends -->
          </div>

        </div>
      </div>
    </div>
    <!-- #endregion -->
  </div>
</div>


<!-- Save Category Modal -->
<div class="modal fade" tabindex="-1" id="categoryModal" aria-labelleby="modal-title">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title fw-bolder">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column align-items-center">
        <form class="w-75" asp-action="Categories" asp-controller="Menu" method="post">
          <input type="hidden" asp-for="@Model.Category.Id" id="ModalCategoryId" value="-1">
          <div class="mb-3">
            <input asp-for="@Model.Category.CategoryName" type="text" class="form-control" id="ModalCategoryName"
              aria-describedby="emailHelp" placeholder="Name">
          </div>
          <div class="mb-3">
            <textarea asp-for="@Model.Category.Description" type="text" class="form-control" id="ModalCategoryDescription"
              placeholder="Description"></textarea>
          </div>
          <div class="d-flex flex-row justify-content-end">
            <button type="submit" id="saveCategoryModalBtn" class="btn btn-primary mx-3">Save</button>
            <button type="button" class="btn cancle_btn" data-bs-dismiss="modal">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Add Modifier Group Modal -->
<div class="modal fade" tabindex="-1" id="modifierModal" aria-labelleby="modal-title">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title fw-bolder">Add Modifier Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column align-items-center">
        <form class="w-75">
          <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Name">
          </div>
          <div class="mb-3">
            <textarea type="text" class="form-control" id="exampleInputPassword1" placeholder="Description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer border-0 d-flex flex-row justify-content-end">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn cancle_btn" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>


@section Scripts {
  <script>
    $('.list-items').mouseover(function () {
      $(this).children("div.editDeleteBtn").css("visibility", "visible");
    })
    $('.list-items').mouseout(function () {
      $(this).children("div.editDeleteBtn").css("visibility", "hidden");
    })

    var categoryId = -1;

    $('.editCategoryBtn').on("click", function () {
      categoryId = $(this).data("id");
      $('#saveCategoryModalBtn').data("id", categoryId);

      $.ajax({
        url: "/Menu/GetCategoryById",
        type: "GET",
        data:{id: categoryId},
        success: function(response)
        {
          $('#ModalCategoryName').val(response.categoryName);
          $('#ModalCategoryDescription').val(response.description);
          $('#ModalCategoryId').val(categoryId);
        },
        error:function(){
          toastr.error("Failed To Edit Category");
        }
      });
    })
  </script>
}