@model DataLogicLayer.ViewModels.TaxViewModel
<div class="table-responsive" >
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Name
            </th>
            <th scope="col">Type</th>
            <th scope="col">IsEnabled</th>
            <th scope="col">
                Default
            </th>
            <th scope="col">Tax Value</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody id="userListBody">
        @foreach (var tax in Model.TaxList)
        {
            <tr>
                <td>
                    @tax.TaxName
                </td>
                <td>
                    @if(tax.TaxType)
                        {
                            <div>Percentage</div>
                        }
                        else
                        {
                            <div>Flat Amount</div>
                        }
                </td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input taxCheckBox" type="checkbox" role="switch"
                             @(tax.Isenabled ? "checked" : "") disabled />
                    </div>
                </td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input taxCheckBox" type="checkbox" role="switch"
                             @((bool)tax.Default ? "checked" : "") disabled />
                    </div>
                </td>
                @if(tax.TaxType)
                {
                    <td>@tax.TaxValue<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-percent" viewBox="0 0 16 16">
                            <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0M4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5m7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                        </svg>
                    </td>
                }
                else
                {
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                            <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
                        </svg>@tax.TaxValue
                    </td>
                }
                <td>
                    <a class="btn user_action editTaxBtn" data-bs-toggle="modal" data-bs-target="#addEditTaxModal" data-taxid="@tax.TaxId">
                        <img src="/images/icons/edit-pen.svg" alt="" />
                    </a>
                    <a class="btn user_action user_action_delete taxDeleteBtn" data-bs-target="#deleteTaxModal" data-bs-toggle="modal" data-taxid="@tax.TaxId">
                        <img src="/images/icons/delete-trash-icon.svg" alt="" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<!-- Paggination Frontend Start -->
<div class="d-flex flex-sm-row flex-column align-items-sm-center justify-content-end pagination_container">
    <div class="d-flex flex-row align-items-center">
        <span>Items per page:</span>

        <!-- Page  Numbers Drop Down -->
        <select class="form-select w-auto" onchange="TaxesPaginationAjax(1)" aria-label="Default select example" id="taxPageSize">
            @if (Model.Page.PageSize != null)
            {
                <option value="2" selected="@(Model.Page.PageSize == 2 ? true : false)">2</option>
                <option value="5" selected="@(Model.Page.PageSize == 5 ? true : false)">5</option>
                <option value="10" selected="@(Model.Page.PageSize == 10 ? true : false)">10</option>
                <option value="15" selected="@(Model.Page.PageSize == 15 ? true : false)">15</option>
                <option value="20" selected="@(Model.Page.PageSize == 20 ? true : false)">20</option>
            }
        </select>
    </div>

    <span style="margin-left: 8px" class="pagination_details">
        Showing @Model.Page.FromRec - @Model.Page.ToRec of @Model.Page.TotalRecords

    </span>

    @if (Model.Page.TotalPages >= 1)
    {
        <div>
            <!-- Previous Page button-->

            <button type="button" class="btn border border-black prev_page" id="prevPageIcon" @(Model.Page.CurrentPage > 1 ?
                " " : "disabled") onclick="TaxesPaginationAjax(@Model.Page.CurrentPage-1)">
                <img src="~/images/icons/chevron-left.svg" alt="" />
            </button>

            <!-- Next Page button-->
            <button type="button" class="btn border border-black" id="nextPageIcon" @(Model.Page.CurrentPage <
                Model.Page.TotalPages ? " " : "disabled") onclick="TaxesPaginationAjax(@Model.Page.CurrentPage+1)">
            <img src="~/images/icons/chevron-right.svg" alt="" />
        </button>
    </div>
        }
</div>
<!-- Pagination Frontend Ends -->